{% extends "base.html" %}
{% from "macros/_forms.html" import render_errors %}
{% from "macros/_forms.html" import form_field %}

{% block content %}
<div style="width:300px; margin:0 auto;">
<h4>{{ _("Login") }}</h4>
<div class="divider"></div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
      <div id="msg" style="color:#e57373">{{ messages|last }}</div>
  {% endif %}
{% endwith %}
<form method="POST" action=".">
    {{ form.hidden_tag() }}
    {{ form.next }}
    <div>
        <div>
            {{ render_errors(form.login) }}
            <div>
            {{ form_field(form.login) }}
            </div>
        </div>

        <div>
            {{ render_errors(form.password) }}
            <div>
            {{ form_field(form.password) }}
            </div>
        </div>
        <div>
            <div>
            {{ form.remember }}
            {{ form.remember.label(class_="checkbox") }}
            </div>
        </div>
        <div style="margin-top:10px;">
            {{ form.submit(class_="waves-effect waves-light btn") }}
        </div>
    </div>
</form>
</div>
{% endblock %}
