{% extends "index.html" %}
{% block right %}
<div class="row">
    <div class="card-panel" style="width:100%;height:500px;">
        <div class="col s8" style="height:100%;border-right:1px solid lightgray">
            <table id="my-stocks" class="bordered">
                <thead>
                    <tr>
                        <th data-field="code">{{ _("Code") }}</th>
                        <th data-field="name">{{ _("Name") }}</th>
                        <th data-field="new-price">{{ _("New Price") }}</th>
                        <th data-field="price-change">{{ _("Price Change") }}</th>
                        <th data-field="price-limit">{{ _("Price Limit") }}</th>
                        <th data-filed="buy">{{ _("Buy") }}</th>
                        <th data-filed="sell">{{ _("Sell") }}</th>
                        <th data-filed="yesterday-close">{{ _("Yesterday Close") }}</th>
                        <th data-filed="today-open">{{ _("Today Open") }}</th>
                        <th data-field="highest">{{ _("Highest") }}</th>
                        <th data-field="lowest">{{ _("Lowest") }}</th>
                        <th data-field="amount">{{ _("Amount") }}</th>
                        <th data-field="turnover">{{ _("Turnover") }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in mystocks %}
                        <tr>
                            <td data-field="code">{{ item.code }}</td>
                            <td data-field="name">{{ item.name }}</td>
                            <td data-field="new-price"></td>
                            <td data-field="price-change"></td>
                            <td data-field="price-limit"></td>
                            <td data-field="buy"></td>
                            <td data-field="sell"></td>
                            <td data-field="yesterday-close"></td>
                            <td data-field="today-open"></td>
                            <td data-field="heightest"></td>
                            <td data-field="lowest"></td>
                            <td data-field="amount"></td>
                            <td data-field="turnover"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s4"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/panels/home_panel.js') }}"></script>
{% endblock %}