.smg-width{
    max-width: 900px;
    margin: 0 auto !important;
}

.smg-hide{
    display: none !important;
}

.smg-red-font{
    color: red !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}