<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.5/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.5/semantic.min.css"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <div class="ui borderless main menu">
        <div class="ui text container">
          <div href="#" class="header item">
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}"/>
            <div class="item header">{{ _("Smaug") }}</div>
          </div>
        </div>
    </div>
    <div class="ui smg-width">
    {% block content %}{% endblock %}
    </div>
</body>
</html>